@using PapisPowerPracticeMvc.ViewModels
@model ExerciseViewModel

<h2>@Model.Name</h2>
<p>@Model.Description</p>

@if (!string.IsNullOrEmpty(Model.VideoUrl))
{
    <div style="aspect-ratio: 16/9; width: 100%; max-width: 800px;">
        <iframe width="100%"
                height="100%"
                src="@Model.VideoUrl"
                title="@Model.Name"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
}
else
{
    <p>Ingen video tillgänglig.</p>
}

@if (Model.MuscleGroups?.Any() == true)
{
    <h4>Muskelgrupper:</h4>
    <ul>
        @foreach (var group in Model.MuscleGroups)
        {
            <li>@group</li>
        }
    </ul>
}
